<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingSession</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div id="flash">
      <%= render "layouts/flash" %>
    </div>
    <%= render partial: "carts/cart" if @render_cart %>
    <main>
      <div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
